<template>
  <div>
    <component :is="appState" @win="appState = 'appResults'" @retry="appState = 'appPanel'"></component>
  </div>
</template>

<script>
import Panel from "./Panel.vue";
import Results from "./Results.vue";

export default {
  data() {
    return {
      appState: "appPanel"
    };
  },
  components: {
    appPanel: Panel,
    appResults: Results
  }
};
</script>

<style>
</style>
