<template>
  <div>
    <h1>The Super Quiz</h1>
    <hr>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
h1 {
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
}
</style>
