<template>
  <div class="card">
    <div class="card-header">
      <h5>Combien fait {{ firstNumber }} {{ signeOpperatoire }} {{ lastNumber }} ?</h5>
    </div>
    <div class="card-body grid">
      <button class="btn btn-primary" v-for="(result, i) in results" :key="i" @click="checkClick(result)">{{ result }}</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstNumber: 0,
      signeOpperatoire: "+",
      lastNumber: 0,
      results: new Array(),
      maxChoices: 4,
      result: 0
    };
  },
  mounted() {
    this.firstNumber = this.randomNumber();
    this.signeOpperatoire = this.signe();
    this.lastNumber = this.randomNumber();

    this.result = eval(
      this.firstNumber + this.signeOpperatoire + this.lastNumber
    );

    const generateChoices = this.generateChoices(this.maxChoices - 1);
    this.results = [...generateChoices];

    this.pushRealResult();
  },
  methods: {
    randomNumber() {
      return Math.floor(Math.random() * 100);
    },
    signe() {
      const random = Math.random();
      if (random < 0.5) {
        return "+";
      } else {
        return "-";
      }
    },
    generateChoices(numOfGeneratedChoices) {
      let choices = [];
      const min = this.result - 5;
      const max = this.result + 5;

      for (let i = 0; i < numOfGeneratedChoices; i++) {
        let random = Math.floor(Math.random() * (max - min) + min);
        choices.push(random);
      }
      return choices;
    },
    pushRealResult() {
      const randomLocation = Math.floor(Math.random() * this.results.length);
      this.results.splice(randomLocation, 0, this.result);
    },
    checkClick(result) {
      if (result === this.result) {
        this.$emit("win");
      } else {
        alert("Mauvaise réponse !");
      }
    }
  }
};
</script>

<style scoped>
* {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
</style>
