<template>
  <div class="card text-white bg-success">
    <div class="card-body">
      <h1>Bonne réponse !</h1>
      <hr>
      <button class="btn btn-primary" @click="retry">Prochaine question ></button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    retry() {
      this.$emit("retry");
    }
  }
};
</script>

<style scoped>
* {
  text-align: center;
}
</style>
