<template>
  <div class="container">
    <app-header></app-header>
    <app-card></app-card>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Card from "./components/Card.vue";

export default {
  components: {
    appHeader: Header,
    appCard: Card
  }
};
</script>

<style>
</style>
